Importing required modulus in the program

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Collecting data from Heart disease dataset

In [3]:
heart_disease_data = pd.read_csv("heart_disease_data.csv")

In [4]:
# printing top 5 rows
heart_disease_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart_disease_data.groupby('age').max()

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
29,1,1,130,204,0,0,202,0,0.0,2,0,2,1
34,1,3,118,210,0,1,192,0,0.7,2,0,2,1
35,1,1,138,282,0,1,182,1,1.6,2,0,3,1
37,1,2,130,250,0,1,187,0,3.5,2,0,2,1
38,1,3,138,231,0,1,182,1,3.8,2,4,3,1
39,1,2,140,321,0,1,182,0,1.2,2,0,3,1
40,1,3,152,223,0,1,181,1,2.0,2,0,3,1
41,1,2,135,306,0,1,182,1,2.0,2,1,3,1
42,1,3,148,315,1,1,194,1,1.8,2,2,3,1
43,1,2,150,341,1,1,181,1,3.0,2,4,3,1
44,1,2,140,290,0,1,188,1,2.8,2,1,3,1
45,1,3,142,309,0,1,185,1,3.0,2,3,3,1
46,1,2,150,311,1,1,172,1,3.6,2,2,3,1
47,1,2,138,275,0,1,179,1,1.0,2,1,2,1
48,1,2,130,275,1,1,186,1,1.0,2,2,3,1
49,1,2,134,271,0,1,171,0,2.0,2,3,3,1
50,1,2,150,254,0,1,163,1,2.6,2,1,3,1
51,1,3,140,308,1,1,186,1,4.2,2,3,3,1
52,1,3,172,325,1,1,190,1,1.2,2,4,3,1
53,1,2,142,282,1,1,173,1,3.1,2,3,3,1
54,1,2,192,309,1,1,195,1,3.2,2,2,3,1
55,1,1,180,353,0,2,166,1,5.6,2,1,3,1
56,1,3,200,409,1,1,178,1,4.0,2,2,3,1
57,1,2,165,354,1,1,174,1,3.0,2,3,3,1
58,1,3,170,340,1,2,173,1,4.4,2,4,3,1
59,1,3,178,326,1,1,182,1,4.2,2,2,3,1
60,1,3,150,318,1,1,171,1,3.0,2,2,3,1
61,1,3,150,330,1,1,169,1,3.6,2,2,3,1
62,1,2,160,394,1,1,163,1,6.2,2,3,3,1
63,1,3,150,407,1,1,179,1,4.0,2,3,3,1
64,1,3,180,335,0,1,158,1,2.2,2,2,3,1
65,1,3,160,417,1,1,174,0,2.8,2,3,3,1
66,1,3,178,302,1,1,165,1,2.6,2,3,3,1
67,1,2,160,564,1,1,172,1,2.6,2,3,3,1
68,1,2,180,277,1,1,151,1,3.4,2,2,3,1
69,1,3,160,254,1,1,151,0,2.0,2,3,3,1
70,1,2,160,322,0,1,143,1,2.9,2,3,3,1
71,0,2,160,302,1,1,162,0,1.6,2,2,2,1
74,0,1,120,269,0,0,121,1,0.2,2,1,2,1
76,0,2,140,197,0,2,116,0,1.1,1,0,2,1
77,1,0,125,304,0,0,162,1,0.0,2,3,2,0

In [30]:
# printing last five rows
heart_disease_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [31]:
# total rows in dataset
heart_disease_data.shape

(303, 14)

In [32]:
# dataset information
heart_disease_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [33]:
heart_disease_data.describe() # it results total count ,its means,std , min value ,max value of each column

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [34]:
# distribution of target value
heart_disease_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

if target value is 1 then patient has heart disease 
if target value is 0 then patient has not any heart disease

In [35]:
# splitting features and target
X = heart_disease_data.drop(columns = "target",axis = 1)
Y = heart_disease_data['target']

In [36]:
# printing X and y values
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [37]:
# printing y value
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting data into training data and testing data

In [38]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [39]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Logistric regression model training

In [40]:
model = LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\Govardhan\.conda\envs\Majorproject\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evalution - Finding accuracy of training data

In [41]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [42]:
#printing accuracy score
print("Accurace of trained model = ",training_data_accuracy)

Accurace of trained model =  0.8512396694214877

Finding accuracy of tested data

In [43]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [44]:
# printing accuracy of tested data
print("Accurace of tested data = ",test_data_accuracy)

Accurace of tested data =  0.819672131147541

Predication from input data

In [46]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

C:\Users\Govardhan\.conda\envs\Majorproject\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [47]:
input_data2 = (63,1,3,145,233,1,0,150,0,2.3,0,0,1)
# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data2)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease

C:\Users\Govardhan\.conda\envs\Majorproject\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [49]:
import pickle
filename = 'heart_disease_model.pkl'
pickle.dump(model, open(filename, 'wb'))
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.pkl', 'rb'))